<!DOCTYPE html>

<html></html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <title>Viitesovellus</title>
    </head>

    <body>
        <header>
            <h1 class="site-title">Viitesovellus</h1>
        </header>

        <section class="vertical box">
            <p class="box-title">Lisää viite</p>

            <form class="vertical form v-gap-xl" action="/save" method="POST">
                <div class="row h-gap-lg">
                    <div class="span-6 vertical flex v-gap-md">
                        <label for="reference-name">Nimi</label>
                        <input name="name" id="reference-name" placeholder="Nimi" type="text" class="text-field" />
                    </div>
                    <div class="span-6 vertical flex v-gap-md">
                        <label for="reference-type">Tyyppi</label>
                        <select name="type" id="reference-type" class="text-field">
                            <option name="book" value="book">Kirja</option>
                            <option name="article" value="book">Artikkeli</option>
                        </select>
                    </div>
                </div>


                <div class="row h-gap-lg">
                    <div class="span-6 vertical flex v-gap-md">
                        <label for="reference-title">Julkaisun nimi</label>
                        <input name="name" id="reference-title" placeholder="Julkaisun nimi" type="text" class="text-field" />
                    </div>
                    <div class="span-6 vertical flex v-gap-md">
                        <label for="reference-author">Tekijä</label>
                        <input name="name" id="reference-author" placeholder="Tekijä" type="text" class="text-field" />
                    </div>
                </div>


                <div class="row h-gap-lg">
                    <div class="span-6 vertical flex v-gap-md">
                        <label for="reference-year">Julkaisuvuosi</label>
                        <input name="name" id="reference-year" placeholder="Julkaisuvuosi" type="text" class="text-field" />
                    </div>
                    <div class="span-6 vertical flex v-gap-md">
                        <label for="reference-publisher">Julkaisija</label>
                        <input name="name" id="reference-publisher" placeholder="Julkaisija" type="text" class="text-field" />
                    </div>
                </div>

                <div>
                    <input id="button" type="submit" class="span-12 button" value="Lisää" />
                </div>
            </form>
        </section>

        <section class="vertical box">
            <p class="box-title">Viitteet</p>

            <div class="reference-list vertical flex">
                {% for reference in references %}
                <div class="reference-entry">
                    <div class="flex h-gap-lg">
                        <p class="reference-name">{{reference.name}}</p>
                        <p class="reference-title">{{reference.title}}</p>
                    </div>

                    <a href={{"/delete/" ~ reference.id}} class="button">Poista</a>
                </div>
                {% endfor %}
            </div>
        </section>
    </body>
</html>
