<!DOCTYPE html>

<title>Viite-sovellus</title>

<h1>Viite-sovellus</h1>

<form action="/save" method="POST">
    Tekijä: <br><input type="text" name="author">
    <p>
        Kirjan nimi: <br><input type="text" name="name">
    <p>
        Vuosi: <br><input type="text" name="year">
    <p>
        Julkaisija: <br><input type="text" name="publisher">
        <input type="hidden" name="type" value="book">
    <p>
        <input id="button" type="submit" value="Luo viite">
</form>

<h2>Viitteet:</h2>

<form action="/delete" method="POST">
    Poistettavan id-numero: <input type="text" name="id">
    <p>
        <input id="button" type="submit" value="Poista">
</form>

{% for ref in references %}
<div style="background: rgb(228, 228, 231);
            font-size: 20px;
            padding: 10px;
            border: 1px solid rgb(146, 144, 144);
            margin: 10px;">
{{ ref.reference_entry, ref.content}} <br>
</div>
{% endfor %}

